<div class="jumbotron text-xs-center">
    <h1 class="display-1"><span class="glyphicon glyphicon-ok"></span> &nbsp;User Deleted Successfully.</h1>
    <p class="lead" ><a href="/admin/profile">Back To Profile</a></p>

</div>
