<div align="center" >
    <div class="image" style="position:relative;width:100%" >

        <img src="/images/bg2.jpg" alt="" height="500" width="1200"/>

        <h3 id="hula">Dream Computers</h3>
        
        <p  id="lol" >   <br>
            Building a PC for the first time can be a little tricky, but the good news is Dream Computers <br>
            is there to help.Build your dream computer whether for personal use, professional or<br>
            business. Select from handpicked  preconfigured rigs or build your own from scratch.</p>
        <br>
    </div>
</div>


<div class="container">
    <div class="page-header text-center">
        <h1 id="timeline" style="color:darkslateblue;  font-family: Arial, Helvetica, sans-serif;font-size: 40px;background:bisque;border-left:5px bold black;" >Meet the Development Team</h1>

    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/images/teja.jpg" />

                </div>
                <div class="timeline-body" style="background:lavender">
                    <p style="text-align: center;color:mediumslateblue;font-size:18px;">Hello, this is Teja. Co-founder of Dream Computers. Had experience in designing web applications. Looking forward in building more scalable and efficient solutions. I love doing workouts!</p>

                </div>

                <div class="timeline-footer">
                    <a href="https://www.facebook.com/tejaparimi007">  <img src="\images\fb.jpg" alt="facebook image" height="35" width="35"></a>
                    &nbsp;
                    <a href="mailto:tejaparimi007@gmail.com "><img src="\images\gmail.jpg" alt="gmail image" height="35" width="35"></a>

                    &nbsp;
                    <a href="https://outlook.office.com/owa/">  <img src="\images\outlook.jpg" alt="outlook image" height="35" width="35"></a>

                    <a class="pull-right" style="font-size:25px;color:salmon;">Teja Parimi</a>
                </div>
            </div>
        </li>

        <li  class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/images/vineeth.jpg" />

                </div>
                <div class="timeline-body" style="background:lavender">
                    <p style="text-align: center;color:mediumslateblue;font-size:18px;">It's Vineeth, the guy who can make things done. I like to work in teams and finish projects on the go and i love "Chicken Biryani"</p>

                </div>

                <div class="timeline-footer">
                    <a href="https://www.facebook.com/vineeth.gajula.1">  <img src="\images\fb.jpg" alt="facebook image" height="35" width="35"></a>
                    &nbsp;
                    <a href="mailto:vineethga94@gmail.com"><img src="\images\gmail.jpg" alt="gmail image" height="35" width="35"></a>

                    &nbsp;
                    <a href="https://outlook.office.com/owa/">  <img src="\images\outlook.jpg" alt="outlook image" height="35" width="35"></a>

                    <a class="pull-right" style="font-size:25px;">Vineeth Gajula</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/images/anudeep.jpeg" />

                </div>
                <div class="timeline-body" style="background:lavender">
                    <p style="text-align: center;color:mediumslateblue;font-size:18px;">The Manager, Active-Participant and most importantly team player. Love playing outdoor sports.</p>

                </div>

                <div class="timeline-footer">
                    <a href="https://www.facebook.com/profile.php?id=100001661024091">  <img src="\images\fb.jpg" alt="facebook image" height="35" width="35"></a>
                    &nbsp;
                    <a href="mailto:deepu1352@gmail.com "><img src="\images\gmail.jpg" alt="gmail image" height="35" width="35"></a>

                    &nbsp;
                    <a href="https://outlook.office.com/owa/">  <img src="\images\outlook.jpg" alt="outlook image" height="35" width="35"></a>

                    <a class="pull-right" style="font-size:25px;color:salmon;">Anudeep Reddy Malladi</a>
                </div>
            </div>
        </li>

        <li  class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/images/lohita.jpeg" />

                </div>
                <div class="timeline-body" style="background:lavender">
                    <p style="text-align: center;color:mediumslateblue;font-size:18px;">Highly experienced, Quick-Learner, Tester and Chocolate Lover! </p>

                </div>

                <div class="timeline-footer">
                    <a href="https://www.facebook.com/lvreddy">  <img src="\images\fb.jpg" alt="facebook image" height="35" width="35"></a>
                    &nbsp;
                    <a href="mailto:lohitavanga@gmail.com  "><img src="\images\gmail.jpg" alt="gmail image" height="35" width="35"></a>

                    &nbsp;
                    <a href="https://outlook.office.com/owa/">  <img src="\images\outlook.jpg" alt="outlook image" height="35" width="35"></a>

                    <a class="pull-right" style="font-size:25px;">Lohita Reddy Vanga</a>
                </div>
            </div>
        </li>
    </ul>
</div>