<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your<strong> Account</strong> has been created, please<a href="/user/signin"> login here </a></p>

</div>