<div class="container">
    <div class='well well-sm col-md-6 col-md-offset-3'>
        <center><H1><b>Forgot Password!, don't panic we are here to assist you</b></H1></center>
        <form role="form" method="post" action="#">
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entre ton adresse Email">
            </div>
            <p>Our team thanking you for your patience, we will send your password reset link your email.</p>
            <a href="#"><center><input type="submit" class="btn btn-default btn-danger btn-lg" value="Send Password Link "></center></a>
        </form>
    </div>
</div>